@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");

.main_container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: "auto";
  display: flex;
  justify-content: center;
  background-color: lightcyan;
}
.todo_container {
  width: 70vw;
  height: 150vh;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-rows: 30vh 70vh;
  grid-template-columns: auto;
  border-radius: 3%;
  overflow: hidden;
}
.todo_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 234, 0.877);
}
.created {
  font-size: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.123);
}
h1 {
  margin-bottom: 40px;
  font-family: "Kaisei Opti", serif;
}
.inputText {
  margin-bottom: 20px;
}
input[type="text"] {
  font-size: 18px;
  width: 30vw;
  padding: 8px 7px;
  border: none;
  cursor: text;
  border-radius: 10px;
}
.addBtn_active {
  font-size: 18px;
  width: 10vw;
  padding: 8px 0;
  border: none;
  background-color: rgba(0, 110, 255, 0.966);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.addBtn {
  font-size: 18px;
  width: 10vw;
  padding: 8px 0;
  border: none;
  background-color: rgba(0, 110, 255, 0.74);
  color: white;
  cursor: not-allowed;
  border-radius: 10px;
}

.btns {
  max-width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1vw;
}
.btns_1 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}
.btns_active {
  font-size: 18px;
  width: 5vw;
  padding: 5px 0;
  cursor: pointer;
  border: none;
}
.btns_inactive {
  font-size: 18px;
  width: 5vw;
  padding: 5px 0;
  border: none;
  cursor: not-allowed;
}
